// Wrapper to handle separation from rest of page
#related-popup {
	// position: absolute;
	// z-index: 10000;
	// width: 100%;
	// height: 100%;
	// left: 0;
	// top: 0;
}

// Transparent black overlay, sitting behind modal
#rp-overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1000010;
	background: rgba(0, 0, 0, 0.5);
	&.hidden {
		display: none;
	}
}

// Main modal box
#rp-modal {
	position: absolute;
	left: 5%;
	top: 5%;
	z-index: 1000030;
	width: 90%;
	background: $c-white;
	button {
		@include button($c-green, $c-white);
	}
	#proceed-to-checkout,
	#continue-shopping {
		display: block;
		width: 100%;
		max-width: 210px;
	}
	#proceed-to-checkout {
		@include button($c-green, $c-white);
		margin-bottom: 10px;
		&:hover {
			background: darken($c-green, 12%);
			border-color: darken($c-green, 20%);
		}
	}
	#continue-shopping {
		color: $c-text;
		background: $c-xlgrey;
		text-shadow: none;
		&:hover {
			background: $c-green;
			border-color: darken($c-green, 10%);
			color: $c-white;
			text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
		}
	}
	#rp-close {
		font-family: ufhs;
		font-size: 12px;
		line-height: 30px;
		text-align: center;
		height: 30px;
		width: 30px;
		border-radius: 16px;
		color: $c-white;
		background: $c-dgrey;
		position: absolute;
		top: -10px;
		right: -10px;
		&:hover {
			color: $c-red;
			text-shadow: 0 0 9px rgba(255,255,255,0.3),
						 0 0 2px rgba(255,255,255,1);
		}
	}
	@include bp(min-width, $bp-medium + 1) {
		top: 40px;
		left: 50%;
		margin-left: -340px;
		width: 680px;
	}
	@include bp(min-width, $bp-large + 1) {
		margin-left: -430px;
		width: 860px;
	}
	@include bp(min-width, $bp-xlarge + 1) {
		margin-left: -480px;
		width: 960px;
	}
}

// Loading animation, hidden behind modal.  Moved to front by adding show class.
#rp-loader {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1000020;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	img {
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -40px 0 0 -40px;
	}
	&.show {
		display: block;
		z-index: 1000040;
	}
}

// ================== //
//    Modal content   //
// ================== //

.product-top,
.related-bottom {
	padding: 20px 25px;
}

// Main charcoal strip at top of modal box
.product-top {
	background: $c-dgrey;
	color: $c-white;
	overflow: hidden;
	border-left: 1px solid lighten($c-dgrey, 10%);
	border-top: 1px solid lighten($c-dgrey, 10%);
	border-right: 1px solid lighten($c-dgrey, 10%);
	p {
		color: $c-white;
	}
	.col {
		margin-bottom: 20px;
		&.product {
			margin-bottom: 20px;
			padding-bottom: 20px;
			border-bottom: 1px solid $c-grey;
			.image-container {
				margin-bottom: 20px;
				img {
					width: 100%;
				}
			}
			p {
				&[data-icon] {
					margin-bottom: 10px;
					&:before {
						font-size: 24px;
						margin-right: 4px;
					}
				}
			}
			h3 {
				color: $c-white;
				margin: 0;
				display: none;
			}
		}
		&.cart {
			max-width: 200px;
			margin: 0 auto;
		}
	}
}

// Basket section and buttons inside top charcoal bar
#rp-minicart-block {
	margin-bottom: 20px;
	position: relative;
	.icon {
		display: none;
	}
	.basket-holder {
		.counter-holder {
			width: 40px;
			height: 46px;
			position: relative;
			display: inline-block;
			vertical-align: middle;
			text-align: center;
			margin-right: 4px;
			&:after {
				@include icon('l');
				width: 40px;
				height: 46px;
				line-height: 46px;
				font-size: 54px;
				display: block;
				position: relative;
				top: -20px;
				z-index: 10;
			}
			.counter {
				padding: 0 6px;
				height: 16px;
				text-align: center;
				font-size: 9px;
				line-height: 16px;
				@include border-radius(10px);
				background: $c-red;
				display: inline-block;
				position: relative;
				z-index: 20;
				top: -8px;
			}
		}
		.detail {
			display: inline-block;
			vertical-align: middle;
			width: calc(100% - 50px);
		}
	}
}

// Bottom section displaying products in Slick slider
#rp-modal {
	.related-bottom {
		background: $c-white;
		color: $c-text;
		.related-item {
			padding: 10px;
		}
		.image-container {
			border: 1px solid $c-lgrey;
			padding: 16px;
			margin-bottom: 16px;
			height: 180px;
		}
		.copy-container {
			p {
				margin-bottom: 8px;
				display: block;
			}
		}
		.cta-container {
			overflow: hidden;
			text-align: center;
		}
		.price-block {
			color: $c-red;
			font-size: 15px;
			.price {
				font-size: 170%;
				font-weight: 600;
				margin-right: 2px;
				margin-left: 1px;
			}
			.vat {
				color: $c-text;
			}
		}
		.qty-box {
			display: inline-block;
			margin-bottom: 10px;
			label,
			.input-text {
				vertical-align: middle;
			}
			label {
				width: 40px;
				&.large {
					display: none;
				}
				&.small {
					display: inline-block;
				}
			}
			.input-text {
				display: inline-block;
				width: 54px;
				margin-left: 20px;
			}
			&.hide {
				display: none;
			}
		}
		.more-info {
			@include button($c-green, $c-white);
			width: 100%;
			display: block;
		}
		.add-to-basket {
			font-size: 14px;
			border: none;
			line-height: 27px;
			padding-left: 8px;
			padding-right: 12px;
		}
		button {
			margin-bottom: 10px;
			width: 100%;
			&:before,
			&:after {
				display: inline-block;
				text-shadow: none;
			}
			&:before {
				@include icon('l');
				font-size: 32px;
				margin-right: 4px;
				height: 25px;
				line-height: 25px;
			}
			&:after {
				@include icon('i');
				font-size: 16px;
				color: $c-white;
				margin-left: 4px;
				float: right;
				height: 19px;
				line-height: 28px;
			}
		}
		.cta {
			display: block;
		}
	}
}

// Slick slider styling
.slick-slide,
.slick-slide * {
	&:focus, {
		outline: none;
	}
}
.slick-slide {
	img {
		max-height: 160px;
		margin: 0 auto;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
}
.slick-list {
	margin: 0 16px;
}
.slick-arrow {
	position: absolute;
	top: 50%;
	margin-top: -30px;
	&:before {
		font-size: 26px;
		color: $c-text;
	}
	&:hover {
		&:before {
			color: $c-red;
		}
	}
}
.slick-prev {
	left: -16px;
}
.slick-next {
	right: -16px;
}

// =========================
//  Extra Small Breakpoint
// =========================
@include bp(min-width, $bp-xsmall + 1) {
	.product-top {
		.col {
			&.product {
				.image-container,
				.copy-container {
					display: inline-block;
					vertical-align: top;
				}
				.image-container {
					margin-bottom: 0;
					width: 33%;
					margin-right: 5%;
				}
				.copy-container {
					padding-top: 20px;
					margin-right: 0;
					width: 60%;
				}
			}
		}
	}
	#rp-modal {
		.related-bottom {
			.add-to-basket {
				font-size: 12px;
			}
			button {
				&:before {
					font-size: 28px;
					width: 28px;
					margin-right: 2px;
				}
			}
			.price-block {
				font-size: 12px;
			}
		}
	}
}

// =========================
//  Small Breakpoint
// =========================
@include bp(min-width, $bp-small + 1) {
	.product-top {
		.col {
			display: inline-block;
			vertical-align: top;
			&.product {
				width: calc(100% - 220px);
				margin-bottom: 0;
				padding-bottom: 0;
				border-bottom: none;
				.image-container {
					width: 100px;
					float: left;
					margin-right: 20px;
				    margin-bottom: 10px;
				}
				.copy-container {
					padding-top: 0;
					width: calc(100% - 130px);
				}
				h3 {
					display: block;
					clear: both;
				}
			}
			&.cart {
				float: right;
			}
		}
	}
	#rp-modal {
		.related-bottom {
			.qty-box {
				label {
					&.large {
						display: inline-block;
					}
					&.small {
						display: none;
					}
				}
			}
		}
	}
}

// =========================
//  Medium Breakpoint
// =========================
@include bp(min-width, $bp-medium + 1) {
	.product-top {
		padding: 30px 35px;
		.col {
			&.product {
				width: calc(100% - 220px);
				.image-container {
					width: 150px;
				}
				.copy-container {
					width: calc(100% - 170px);
					padding-top: 20px;
				}
				h3 {
					font-size: 22px;
				}
			}
		}
	}
}

// =========================
//  Large Breakpoint
// =========================
@include bp(min-width, $bp-large + 1) {
	.product-top {
		padding: 40px 55px 15px 55px;
		.col {
			&.product {
				.image-container {
				    margin-bottom: 25px;
				    margin-right: 40px;
				}
				.copy-container {
					width: calc(100% - 200px);
					padding-top: 30px;
					p {
						font-size: 16px;
						&[data-icon] {
							&:before {
								font-size:40px;
							}
						}
					}
				}
			}
		}
	}
}

// =========================
//  Extra Large Breakpoint
// =========================
@include bp(min-width, $bp-xlarge + 1) {
	.product-top {
		.col {
			&.product {
				.copy-container {
					width: calc(100% - 330px);
				}
			}
		}
	}
}