// ============================= //
//    Save to basket Animation   //
// ============================= //

// This class is added to a newly cloned image when it's being used
// to animate adding to basket.
.save-to-basket {
	opacity: 0;
	position: absolute;
	z-index: 9999999999;
	@include animation(SaveToBasket 0.3s ease-in);
}

// Animation keyframes for adding an item to the basket
@keyframes SaveToBasket {
	0% { opacity: 1; }
	95% { opacity: 0; }
	100% {
		left: 60px;
		top: 406px;
		width: 0;
		height: 0;
	}
}

// =========================
//  Extra Small Breakpoint
// =========================
@include bp(min-width, $bp-xsmall + 1) {
	@keyframes SaveToBasket {
		0% { opacity: 1; }
		95% { opacity: 0; }
		100% {
			left: 130px;
			top: 180px;
			width: 0;
			height: 0;
		}
	}
}

// =========================
//  Small Breakpoint
// =========================
@include bp(min-width, $bp-small + 1) {
	@keyframes SaveToBasket {
		0% { opacity: 1; }
		95% { opacity: 0; }
		100% {
			left: 330px;
			top: 20px;
			width: 0;
			height: 0;
		}
	}
}

// =========================
//  Medium Breakpoint
// =========================
@include bp(min-width, $bp-medium + 1) {
	@keyframes SaveToBasket {
		0% { opacity: 1; }
		95% { opacity: 0; }
		100% {
			left: 460px;
			top: 30px;
			width: 0;
			height: 0;
		}
	}
}

// =========================
//  Large Breakpoint
// =========================
@include bp(min-width, $bp-large + 1) {
	@keyframes SaveToBasket {
		0% { opacity: 1; }
		95% { opacity: 0; }
		100% {
			left: 620px;
			top: 40px;
			width: 0;
			height: 0;
		}
	}
}

// =========================
//  Extra Large Breakpoint
// =========================
@include bp(min-width, $bp-xlarge + 1) {
	@keyframes SaveToBasket {
		0% { opacity: 1; }
		95% { opacity: 0; }
		100% {
			left: 720px;
			top: 40px;
			width: 0;
			height: 0;
		}
	}
}