// =============================================
// Primary Break Points
// =============================================

// These should be used with the bp (max-width, xx) mixin
// where a min-width is used, remember to +1 to break correctly.
// If these are changed, they must also be updated in app.js

$bp-xsmall: 479px;
$bp-small: 599px;
$bp-medium: 767px;
$bp-large: 959px;
$bp-xlarge: 1199px;

// =============================================
// Brand Colors
// =============================================

// Usually not used directly in Sass partials.
// Only used to define context-based color vars in this file.

$c-green:  #78B834;
$c-red:    #E60004;
$c-black:  #000000;
$c-white:  #ffffff;
$c-grey:   #A7A9AB;
$c-xlgrey:  #F4F4F4;
$c-lgrey:  #ebebeb;
$c-dgrey:  #58585B;
$c-bgrey: #cacaca;
$c-charcoal: #878787;

// =============================================
// Base Colors
// =============================================

// Text
$c-text: $c-dgrey;
