/* ============================================ *
 * Buttons
 * ============================================ */
@mixin button($button-color, $text-color) {
    border-radius: 6px;
    background-color: $button-color;
    display: inline-block;
    padding: 6px 21px 6px;
    border: 1px solid darken($button-color, 10%);
    color: $text-color;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    position: relative;
    text-decoration: none;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    white-space: nowrap;
    height:40px;
    line-height:29px;
    cursor:pointer;
    &:hover {
        color: $text-color;
        text-decoration: none;
        border-color: darken($button-color, 5%);
        background-color: lighten($button-color, 5%);
        cursor: pointer;
    }
    &.arrow {
        span {
        	span {
	            position: relative;
	            display: inline-block;
	            padding: 0 25px 0 0;
	            @include font-icon("g");
	            &:before {
	                position: absolute;
	                right: -10px;
	                top: -2px;
	                font-size: 24px;
	            }
	        }
	    }
    }
    &.arrow.back {
        span {
        	span {
	            padding: 0 0 0 25px;
	            &:before {
	                left: -10px;
	                right: auto;
	                content:'f';
	            }
	        }
	    }
    }
}