@charset "UTF-8";
/**
 * @category  Design
 * @package   redbox_default
 * @copyright Copyright (c) 2014 Redbox Digital (http://www.redboxdigital.com)
 * @author    Mat Havelock mat.havelock@redboxdigital.com
 */
/* -------------------------------------------- *
 * Icons
 */
@font-face {
  font-family: 'ufhs';
  src: url("../fonts/uhs.eot?t70klh");
  src: url("../fonts/uhs.eot?t70klh#iefix") format("embedded-opentype"), url("../fonts/uhs.ttf?t70klh") format("truetype"), url("../fonts/uhs.woff?t70klh") format("woff"), url("../fonts/uhs.svg?t70klh#uhs") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 123, ../scss/mixins/_icons.scss */
[data-icon]:before {
  font-family: "ufhs" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.5em;
  vertical-align: middle;
}

/* line 137, ../scss/mixins/_icons.scss */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "ufhs" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 149, ../scss/mixins/_icons.scss */
i.loading {
  background-image: url("../images/opc-ajax-loader.gif");
  background-repeat: no-repeat;
  background-position: center;
  width: 48px;
  height: 48px;
  display: inline-block;
  vertical-align: middle;
}

/* line 207, ../scss/mixins/_icons.scss */
.icon-size:before {
  content: "≠";
}

/* line 212, ../scss/mixins/_icons.scss */
.icon-book:before {
  content: "!";
}

/* line 217, ../scss/mixins/_icons.scss */
.icon-toilet:before {
  content: "#";
}

/* line 222, ../scss/mixins/_icons.scss */
.icon-pound-tag:before {
  content: "$";
}

/* line 227, ../scss/mixins/_icons.scss */
.icon-calculator:before {
  content: "%";
}

/* line 232, ../scss/mixins/_icons.scss */
.icon-towel-rail:before {
  content: "&";
}

/* line 237, ../scss/mixins/_icons.scss */
.icon-sink:before {
  content: "'";
}

/* line 242, ../scss/mixins/_icons.scss */
.icon-plug:before {
  content: "(";
}

/* line 247, ../scss/mixins/_icons.scss */
.icon-v:before {
  content: ")";
}

/* line 252, ../scss/mixins/_icons.scss */
.icon-cross:before {
  content: "*";
}

/* line 257, ../scss/mixins/_icons.scss */
.icon-paper:before {
  content: "+";
}

/* line 262, ../scss/mixins/_icons.scss */
.icon-stars:before {
  content: "-";
}

/* line 267, ../scss/mixins/_icons.scss */
.icon-which-cable:before {
  content: "/";
}

/* line 272, ../scss/mixins/_icons.scss */
.icon-question-mark-circle:before {
  content: "0";
}

/* line 277, ../scss/mixins/_icons.scss */
.icon-solar-support:before {
  content: "1";
}

/* line 282, ../scss/mixins/_icons.scss */
.icon-play:before {
  content: "2";
}

/* line 287, ../scss/mixins/_icons.scss */
.icon-365:before {
  content: "3";
}

/* line 292, ../scss/mixins/_icons.scss */
.icon-pound-arrow:before {
  content: "4";
}

/* line 297, ../scss/mixins/_icons.scss */
.icon-lifering:before {
  content: "5";
}

/* line 302, ../scss/mixins/_icons.scss */
.icon-lifering-tick:before {
  content: "6";
}

/* line 307, ../scss/mixins/_icons.scss */
.icon-apostrophe-left:before {
  content: "7";
}

/* line 312, ../scss/mixins/_icons.scss */
.icon-apostrophe-right:before {
  content: "8";
}

/* line 317, ../scss/mixins/_icons.scss */
.icon-heart:before {
  content: "9";
}

/* line 322, ../scss/mixins/_icons.scss */
.icon-square-thing:before {
  content: ":";
}

/* line 327, ../scss/mixins/_icons.scss */
.icon-heat-radiation:before {
  content: ";";
}

/* line 332, ../scss/mixins/_icons.scss */
.icon-support-member:before {
  content: "<";
}

/* line 337, ../scss/mixins/_icons.scss */
.icon-shower:before {
  content: "=";
}

/* line 342, ../scss/mixins/_icons.scss */
.icon-question:before {
  content: "?";
}

/* line 347, ../scss/mixins/_icons.scss */
.icon-finance:before {
  content: "@";
}

/* line 352, ../scss/mixins/_icons.scss */
.icon-facebook:before {
  content: "A";
}

/* line 357, ../scss/mixins/_icons.scss */
.icon-linkedin:before {
  content: "B";
}

/* line 362, ../scss/mixins/_icons.scss */
.icon-hard-hat:before {
  content: "C";
}

/* line 367, ../scss/mixins/_icons.scss */
.icon-youtube:before {
  content: "D";
}

/* line 372, ../scss/mixins/_icons.scss */
.icon-arrow-right-thin:before {
  content: "E";
}

/* line 377, ../scss/mixins/_icons.scss */
.icon-cart:before {
  content: "F";
}

/* line 382, ../scss/mixins/_icons.scss */
.icon-book-circle:before {
  content: "G";
}

/* line 387, ../scss/mixins/_icons.scss */
.icon-tv:before {
  content: "H";
}

/* line 392, ../scss/mixins/_icons.scss */
.icon-tick:before {
  content: "I";
}

/* line 397, ../scss/mixins/_icons.scss */
.icon-electric-kits:before {
  content: "J";
}

/* line 402, ../scss/mixins/_icons.scss */
.icon-press:before {
  content: "K";
}

/* line 407, ../scss/mixins/_icons.scss */
.icon-group:before {
  content: "L";
}

/* line 412, ../scss/mixins/_icons.scss */
.icon-electric-systems:before {
  content: "M";
}

/* line 417, ../scss/mixins/_icons.scss */
.icon-water-systems:before {
  content: "N";
}

/* line 422, ../scss/mixins/_icons.scss */
.icon-layers:before {
  content: "O";
}

/* line 427, ../scss/mixins/_icons.scss */
.icon-water-layers:before {
  content: "P";
}

/* line 432, ../scss/mixins/_icons.scss */
.icon-degrees:before {
  content: "Q";
}

/* line 437, ../scss/mixins/_icons.scss */
.icon-insulation:before {
  content: "R";
}

/* line 442, ../scss/mixins/_icons.scss */
.icon-sun:before {
  content: "S";
}

/* line 447, ../scss/mixins/_icons.scss */
.icon-pound-with-dots:before {
  content: "T";
}

/* line 452, ../scss/mixins/_icons.scss */
.icon-solar-panels:before {
  content: "U";
}

/* line 457, ../scss/mixins/_icons.scss */
.icon-right-solar:before {
  content: "V";
}

/* line 462, ../scss/mixins/_icons.scss */
.icon-which-solar:before {
  content: "W";
}

/* line 467, ../scss/mixins/_icons.scss */
.icon-fan:before {
  content: "X";
}

/* line 472, ../scss/mixins/_icons.scss */
.icon-right-fan:before {
  content: "Y";
}

/* line 477, ../scss/mixins/_icons.scss */
.icon-which-fan:before {
  content: "Z";
}

/* line 482, ../scss/mixins/_icons.scss */
.icon-paypal-credit:before {
  content: "\\";
}

/* line 487, ../scss/mixins/_icons.scss */
.icon-musical-note:before {
  content: "^";
}

/* line 492, ../scss/mixins/_icons.scss */
.icon-bath:before {
  content: "_";
}

/* line 497, ../scss/mixins/_icons.scss */
.icon-tiles:before {
  content: "`";
}

/* line 502, ../scss/mixins/_icons.scss */
.icon-google-plus:before {
  content: "a";
}

/* line 507, ../scss/mixins/_icons.scss */
.icon-support:before {
  content: "b";
}

/* line 512, ../scss/mixins/_icons.scss */
.icon-user:before {
  content: "c";
}

/* line 517, ../scss/mixins/_icons.scss */
.icon-magnifying-glass-small:before {
  content: "d";
}

/* line 522, ../scss/mixins/_icons.scss */
.icon-padlock:before {
  content: "e";
}

/* line 527, ../scss/mixins/_icons.scss */
.icon-telephone:before {
  content: "f";
}

/* line 532, ../scss/mixins/_icons.scss */
.icon-arrow-down:before {
  content: "g";
}

/* line 537, ../scss/mixins/_icons.scss */
.icon-arrow-left:before {
  content: "h";
}

/* line 542, ../scss/mixins/_icons.scss */
.icon-arrow-right:before {
  content: "i";
}

/* line 547, ../scss/mixins/_icons.scss */
.icon-arrow-up:before {
  content: "j";
}

/* line 552, ../scss/mixins/_icons.scss */
.icon-trophie:before {
  content: "k";
}

/* line 557, ../scss/mixins/_icons.scss */
.icon-cart-circle:before {
  content: "l";
}

/* line 562, ../scss/mixins/_icons.scss */
.icon-question-mark:before {
  content: "m";
}

/* line 567, ../scss/mixins/_icons.scss */
.icon-tape:before {
  content: "n";
}

/* line 572, ../scss/mixins/_icons.scss */
.icon-ellipse:before {
  content: "o";
}

/* line 577, ../scss/mixins/_icons.scss */
.icon-trolley:before {
  content: "p";
}

/* line 582, ../scss/mixins/_icons.scss */
.icon-map-icon:before {
  content: "q";
}

/* line 587, ../scss/mixins/_icons.scss */
.icon-right-price:before {
  content: "r";
}

/* line 592, ../scss/mixins/_icons.scss */
.icon-quoted-price:before {
  content: "s";
}

/* line 597, ../scss/mixins/_icons.scss */
.icon-house:before {
  content: "t";
}

/* line 602, ../scss/mixins/_icons.scss */
.icon-30:before {
  content: "u";
}

/* line 607, ../scss/mixins/_icons.scss */
.icon-twitter:before {
  content: "v";
}

/* line 612, ../scss/mixins/_icons.scss */
.icon-rosette:before {
  content: "w";
}

/* line 617, ../scss/mixins/_icons.scss */
.icon-right-system:before {
  content: "x";
}

/* line 622, ../scss/mixins/_icons.scss */
.icon-magnifying-glass-big:before {
  content: "y";
}

/* line 627, ../scss/mixins/_icons.scss */
.icon-van:before {
  content: "z";
}

/* line 632, ../scss/mixins/_icons.scss */
.icon-amazon:before {
  content: "|";
}

/* line 637, ../scss/mixins/_icons.scss */
.icon-reviews:before {
  content: "~";
}

/* line 642, ../scss/mixins/_icons.scss */
.icon-house-tick:before {
  content: "¡";
}

/* line 647, ../scss/mixins/_icons.scss */
.icon-tick-list:before {
  content: "¢";
}

/* line 652, ../scss/mixins/_icons.scss */
.icon-how-much:before {
  content: "£";
}

/* line 657, ../scss/mixins/_icons.scss */
.icon-Wiring:before {
  content: "§";
}

/* line 662, ../scss/mixins/_icons.scss */
.icon-recommend:before {
  content: "ª";
}

/* line 667, ../scss/mixins/_icons.scss */
.icon-Tiling:before {
  content: "¶";
}

/* line 672, ../scss/mixins/_icons.scss */
.icon-Electrical-reference:before {
  content: "º";
}

/* line 677, ../scss/mixins/_icons.scss */
.icon-Water-reference:before {
  content: "–";
}

/* line 682, ../scss/mixins/_icons.scss */
.icon-Benefits:before {
  content: "•";
}

/* line 687, ../scss/mixins/_icons.scss */
.icon-location-pin:before {
  content: "€";
}

/* line 692, ../scss/mixins/_icons.scss */
.icon-design:before {
  content: "∞";
}

/* ============================================ *
 * Buttons
 * ============================================ */
/* line 12, ../scss/_main-styles.scss */
#rp-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000010;
  background: rgba(0, 0, 0, 0.5);
}
/* line 20, ../scss/_main-styles.scss */
#rp-overlay.hidden {
  display: none;
}

/* line 26, ../scss/_main-styles.scss */
#rp-modal {
  position: absolute;
  left: 5%;
  top: 5%;
  z-index: 1000030;
  width: 90%;
  background: #ffffff;
}
/* line 33, ../scss/_main-styles.scss */
#rp-modal button {
  border-radius: 6px;
  background-color: #78B834;
  display: inline-block;
  padding: 6px 21px 6px;
  border: 1px solid #5e9029;
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  position: relative;
  text-decoration: none;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  white-space: nowrap;
  height: 40px;
  line-height: 29px;
  cursor: pointer;
}
/* line 23, ../scss/mixins/_buttons.scss */
#rp-modal button:hover {
  color: #ffffff;
  text-decoration: none;
  border-color: #6ba42e;
  background-color: #85c83d;
  cursor: pointer;
}
/* line 32, ../scss/mixins/_buttons.scss */
#rp-modal button.arrow span span {
  position: relative;
  display: inline-block;
  padding: 0 25px 0 0;
}
/* line 172, ../scss/mixins/_icons.scss */
#rp-modal button.arrow span span:before {
  font-family: "ufhs" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
  content: "g";
}
/* line 37, ../scss/mixins/_buttons.scss */
#rp-modal button.arrow span span:before {
  position: absolute;
  right: -10px;
  top: -2px;
  font-size: 24px;
}
/* line 48, ../scss/mixins/_buttons.scss */
#rp-modal button.arrow.back span span {
  padding: 0 0 0 25px;
}
/* line 50, ../scss/mixins/_buttons.scss */
#rp-modal button.arrow.back span span:before {
  left: -10px;
  right: auto;
  content: 'f';
}
/* line 36, ../scss/_main-styles.scss */
#rp-modal #proceed-to-checkout,
#rp-modal #continue-shopping {
  display: block;
  width: 100%;
  max-width: 210px;
}
/* line 42, ../scss/_main-styles.scss */
#rp-modal #proceed-to-checkout {
  border-radius: 6px;
  background-color: #78B834;
  display: inline-block;
  padding: 6px 21px 6px;
  border: 1px solid #5e9029;
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  position: relative;
  text-decoration: none;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  white-space: nowrap;
  height: 40px;
  line-height: 29px;
  cursor: pointer;
  margin-bottom: 10px;
}
/* line 23, ../scss/mixins/_buttons.scss */
#rp-modal #proceed-to-checkout:hover {
  color: #ffffff;
  text-decoration: none;
  border-color: #6ba42e;
  background-color: #85c83d;
  cursor: pointer;
}
/* line 32, ../scss/mixins/_buttons.scss */
#rp-modal #proceed-to-checkout.arrow span span {
  position: relative;
  display: inline-block;
  padding: 0 25px 0 0;
}
/* line 172, ../scss/mixins/_icons.scss */
#rp-modal #proceed-to-checkout.arrow span span:before {
  font-family: "ufhs" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
  content: "g";
}
/* line 37, ../scss/mixins/_buttons.scss */
#rp-modal #proceed-to-checkout.arrow span span:before {
  position: absolute;
  right: -10px;
  top: -2px;
  font-size: 24px;
}
/* line 48, ../scss/mixins/_buttons.scss */
#rp-modal #proceed-to-checkout.arrow.back span span {
  padding: 0 0 0 25px;
}
/* line 50, ../scss/mixins/_buttons.scss */
#rp-modal #proceed-to-checkout.arrow.back span span:before {
  left: -10px;
  right: auto;
  content: 'f';
}
/* line 45, ../scss/_main-styles.scss */
#rp-modal #proceed-to-checkout:hover {
  background: #598827;
  border-color: #44681e;
}
/* line 50, ../scss/_main-styles.scss */
#rp-modal #continue-shopping {
  color: #58585B;
  background: #F4F4F4;
  text-shadow: none;
}
/* line 54, ../scss/_main-styles.scss */
#rp-modal #continue-shopping:hover {
  background: #78B834;
  border-color: #5e9029;
  color: #ffffff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
/* line 61, ../scss/_main-styles.scss */
#rp-modal #rp-close {
  font-family: ufhs;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
  height: 30px;
  width: 30px;
  border-radius: 16px;
  color: #ffffff;
  background: #58585B;
  position: absolute;
  top: -10px;
  right: -10px;
}
/* line 74, ../scss/_main-styles.scss */
#rp-modal #rp-close:hover {
  color: #E60004;
  text-shadow: 0 0 9px rgba(255, 255, 255, 0.3), 0 0 2px white;
}
@media only screen and (min-width: 768px) {
  /* line 26, ../scss/_main-styles.scss */
  #rp-modal {
    top: 40px;
    left: 50%;
    margin-left: -340px;
    width: 680px;
  }
}
@media only screen and (min-width: 960px) {
  /* line 26, ../scss/_main-styles.scss */
  #rp-modal {
    margin-left: -430px;
    width: 860px;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 26, ../scss/_main-styles.scss */
  #rp-modal {
    margin-left: -480px;
    width: 960px;
  }
}

/* line 97, ../scss/_main-styles.scss */
#rp-loader {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000020;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
/* line 106, ../scss/_main-styles.scss */
#rp-loader img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -40px 0 0 -40px;
}
/* line 112, ../scss/_main-styles.scss */
#rp-loader.show {
  display: block;
  z-index: 1000040;
}

/* line 122, ../scss/_main-styles.scss */
.product-top,
.related-bottom {
  padding: 20px 25px;
}

/* line 128, ../scss/_main-styles.scss */
.product-top {
  background: #58585B;
  color: #ffffff;
  overflow: hidden;
  border-left: 1px solid #717175;
  border-top: 1px solid #717175;
  border-right: 1px solid #717175;
}
/* line 135, ../scss/_main-styles.scss */
.product-top p {
  color: #ffffff;
}
/* line 138, ../scss/_main-styles.scss */
.product-top .col {
  margin-bottom: 20px;
}
/* line 140, ../scss/_main-styles.scss */
.product-top .col.product {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #A7A9AB;
}
/* line 144, ../scss/_main-styles.scss */
.product-top .col.product .image-container {
  margin-bottom: 20px;
}
/* line 146, ../scss/_main-styles.scss */
.product-top .col.product .image-container img {
  width: 100%;
}
/* line 151, ../scss/_main-styles.scss */
.product-top .col.product p[data-icon] {
  margin-bottom: 10px;
}
/* line 153, ../scss/_main-styles.scss */
.product-top .col.product p[data-icon]:before {
  font-size: 24px;
  margin-right: 4px;
}
/* line 159, ../scss/_main-styles.scss */
.product-top .col.product h3 {
  color: #ffffff;
  margin: 0;
  display: none;
}
/* line 165, ../scss/_main-styles.scss */
.product-top .col.cart {
  max-width: 200px;
  margin: 0 auto;
}

/* line 173, ../scss/_main-styles.scss */
#rp-minicart-block {
  margin-bottom: 20px;
  position: relative;
}
/* line 176, ../scss/_main-styles.scss */
#rp-minicart-block .icon {
  display: none;
}
/* line 180, ../scss/_main-styles.scss */
#rp-minicart-block .basket-holder .counter-holder {
  width: 40px;
  height: 46px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin-right: 4px;
}
/* line 188, ../scss/_main-styles.scss */
#rp-minicart-block .basket-holder .counter-holder:after {
  font-family: "ufhs" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
  content: "l";
  width: 40px;
  height: 46px;
  line-height: 46px;
  font-size: 54px;
  display: block;
  position: relative;
  top: -20px;
  z-index: 10;
}
/* line 199, ../scss/_main-styles.scss */
#rp-minicart-block .basket-holder .counter-holder .counter {
  padding: 0 6px;
  height: 16px;
  text-align: center;
  font-size: 9px;
  line-height: 16px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #E60004;
  display: inline-block;
  position: relative;
  z-index: 20;
  top: -8px;
}
/* line 213, ../scss/_main-styles.scss */
#rp-minicart-block .basket-holder .detail {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 50px);
}

/* line 223, ../scss/_main-styles.scss */
#rp-modal .related-bottom {
  background: #ffffff;
  color: #58585B;
}
/* line 226, ../scss/_main-styles.scss */
#rp-modal .related-bottom .related-item {
  padding: 10px;
}
/* line 229, ../scss/_main-styles.scss */
#rp-modal .related-bottom .image-container {
  border: 1px solid #ebebeb;
  padding: 16px;
  margin-bottom: 16px;
  height: 180px;
}
/* line 236, ../scss/_main-styles.scss */
#rp-modal .related-bottom .copy-container p {
  margin-bottom: 8px;
  display: block;
}
/* line 241, ../scss/_main-styles.scss */
#rp-modal .related-bottom .cta-container {
  overflow: hidden;
  text-align: center;
}
/* line 245, ../scss/_main-styles.scss */
#rp-modal .related-bottom .price-block {
  color: #E60004;
  font-size: 15px;
}
/* line 248, ../scss/_main-styles.scss */
#rp-modal .related-bottom .price-block .price {
  font-size: 170%;
  font-weight: 600;
  margin-right: 2px;
  margin-left: 1px;
}
/* line 254, ../scss/_main-styles.scss */
#rp-modal .related-bottom .price-block .vat {
  color: #58585B;
}
/* line 258, ../scss/_main-styles.scss */
#rp-modal .related-bottom .qty-box {
  display: inline-block;
  margin-bottom: 10px;
}
/* line 261, ../scss/_main-styles.scss */
#rp-modal .related-bottom .qty-box label,
#rp-modal .related-bottom .qty-box .input-text {
  vertical-align: middle;
}
/* line 265, ../scss/_main-styles.scss */
#rp-modal .related-bottom .qty-box label {
  width: 40px;
}
/* line 267, ../scss/_main-styles.scss */
#rp-modal .related-bottom .qty-box label.large {
  display: none;
}
/* line 270, ../scss/_main-styles.scss */
#rp-modal .related-bottom .qty-box label.small {
  display: inline-block;
}
/* line 274, ../scss/_main-styles.scss */
#rp-modal .related-bottom .qty-box .input-text {
  display: inline-block;
  width: 54px;
  margin-left: 20px;
}
/* line 279, ../scss/_main-styles.scss */
#rp-modal .related-bottom .qty-box.hide {
  display: none;
}
/* line 283, ../scss/_main-styles.scss */
#rp-modal .related-bottom .more-info {
  border-radius: 6px;
  background-color: #78B834;
  display: inline-block;
  padding: 6px 21px 6px;
  border: 1px solid #5e9029;
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  position: relative;
  text-decoration: none;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  white-space: nowrap;
  height: 40px;
  line-height: 29px;
  cursor: pointer;
  width: 100%;
  display: block;
}
/* line 23, ../scss/mixins/_buttons.scss */
#rp-modal .related-bottom .more-info:hover {
  color: #ffffff;
  text-decoration: none;
  border-color: #6ba42e;
  background-color: #85c83d;
  cursor: pointer;
}
/* line 32, ../scss/mixins/_buttons.scss */
#rp-modal .related-bottom .more-info.arrow span span {
  position: relative;
  display: inline-block;
  padding: 0 25px 0 0;
}
/* line 172, ../scss/mixins/_icons.scss */
#rp-modal .related-bottom .more-info.arrow span span:before {
  font-family: "ufhs" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
  content: "g";
}
/* line 37, ../scss/mixins/_buttons.scss */
#rp-modal .related-bottom .more-info.arrow span span:before {
  position: absolute;
  right: -10px;
  top: -2px;
  font-size: 24px;
}
/* line 48, ../scss/mixins/_buttons.scss */
#rp-modal .related-bottom .more-info.arrow.back span span {
  padding: 0 0 0 25px;
}
/* line 50, ../scss/mixins/_buttons.scss */
#rp-modal .related-bottom .more-info.arrow.back span span:before {
  left: -10px;
  right: auto;
  content: 'f';
}
/* line 288, ../scss/_main-styles.scss */
#rp-modal .related-bottom .add-to-basket {
  font-size: 14px;
  border: none;
  line-height: 27px;
  padding-left: 8px;
  padding-right: 12px;
}
/* line 295, ../scss/_main-styles.scss */
#rp-modal .related-bottom button {
  margin-bottom: 10px;
  width: 100%;
}
/* line 298, ../scss/_main-styles.scss */
#rp-modal .related-bottom button:before, #rp-modal .related-bottom button:after {
  display: inline-block;
  text-shadow: none;
}
/* line 303, ../scss/_main-styles.scss */
#rp-modal .related-bottom button:before {
  font-family: "ufhs" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
  content: "l";
  font-size: 32px;
  margin-right: 4px;
  height: 25px;
  line-height: 25px;
}
/* line 310, ../scss/_main-styles.scss */
#rp-modal .related-bottom button:after {
  font-family: "ufhs" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
  content: "i";
  font-size: 16px;
  color: #ffffff;
  margin-left: 4px;
  float: right;
  height: 19px;
  line-height: 28px;
}
/* line 320, ../scss/_main-styles.scss */
#rp-modal .related-bottom .cta {
  display: block;
}

/* line 329, ../scss/_main-styles.scss */
.slick-slide:focus,
.slick-slide *:focus {
  outline: none;
}

/* line 334, ../scss/_main-styles.scss */
.slick-slide img {
  max-height: 160px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* line 342, ../scss/_main-styles.scss */
.slick-list {
  margin: 0 16px;
}

/* line 345, ../scss/_main-styles.scss */
.slick-arrow {
  position: absolute;
  top: 50%;
  margin-top: -30px;
}
/* line 349, ../scss/_main-styles.scss */
.slick-arrow:before {
  font-size: 26px;
  color: #58585B;
}
/* line 354, ../scss/_main-styles.scss */
.slick-arrow:hover:before {
  color: #E60004;
}

/* line 359, ../scss/_main-styles.scss */
.slick-prev {
  left: -16px;
}

/* line 362, ../scss/_main-styles.scss */
.slick-next {
  right: -16px;
}

@media only screen and (min-width: 480px) {
  /* line 373, ../scss/_main-styles.scss */
  .product-top .col.product .image-container,
  .product-top .col.product .copy-container {
    display: inline-block;
    vertical-align: top;
  }
  /* line 378, ../scss/_main-styles.scss */
  .product-top .col.product .image-container {
    margin-bottom: 0;
    width: 33%;
    margin-right: 5%;
  }
  /* line 383, ../scss/_main-styles.scss */
  .product-top .col.product .copy-container {
    padding-top: 20px;
    margin-right: 0;
    width: 60%;
  }

  /* line 393, ../scss/_main-styles.scss */
  #rp-modal .related-bottom .add-to-basket {
    font-size: 12px;
  }
  /* line 397, ../scss/_main-styles.scss */
  #rp-modal .related-bottom button:before {
    font-size: 28px;
    width: 28px;
    margin-right: 2px;
  }
  /* line 403, ../scss/_main-styles.scss */
  #rp-modal .related-bottom .price-block {
    font-size: 12px;
  }
}
@media only screen and (min-width: 600px) {
  /* line 415, ../scss/_main-styles.scss */
  .product-top .col {
    display: inline-block;
    vertical-align: top;
  }
  /* line 418, ../scss/_main-styles.scss */
  .product-top .col.product {
    width: calc(100% - 220px);
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }
  /* line 423, ../scss/_main-styles.scss */
  .product-top .col.product .image-container {
    width: 100px;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
  }
  /* line 429, ../scss/_main-styles.scss */
  .product-top .col.product .copy-container {
    padding-top: 0;
    width: calc(100% - 130px);
  }
  /* line 433, ../scss/_main-styles.scss */
  .product-top .col.product h3 {
    display: block;
    clear: both;
  }
  /* line 438, ../scss/_main-styles.scss */
  .product-top .col.cart {
    float: right;
  }

  /* line 447, ../scss/_main-styles.scss */
  #rp-modal .related-bottom .qty-box label.large {
    display: inline-block;
  }
  /* line 450, ../scss/_main-styles.scss */
  #rp-modal .related-bottom .qty-box label.small {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  /* line 463, ../scss/_main-styles.scss */
  .product-top {
    padding: 30px 35px;
  }
  /* line 466, ../scss/_main-styles.scss */
  .product-top .col.product {
    width: calc(100% - 220px);
  }
  /* line 468, ../scss/_main-styles.scss */
  .product-top .col.product .image-container {
    width: 150px;
  }
  /* line 471, ../scss/_main-styles.scss */
  .product-top .col.product .copy-container {
    width: calc(100% - 170px);
    padding-top: 20px;
  }
  /* line 475, ../scss/_main-styles.scss */
  .product-top .col.product h3 {
    font-size: 22px;
  }
}
@media only screen and (min-width: 960px) {
  /* line 487, ../scss/_main-styles.scss */
  .product-top {
    padding: 40px 55px 15px 55px;
  }
  /* line 491, ../scss/_main-styles.scss */
  .product-top .col.product .image-container {
    margin-bottom: 25px;
    margin-right: 40px;
  }
  /* line 495, ../scss/_main-styles.scss */
  .product-top .col.product .copy-container {
    width: calc(100% - 200px);
    padding-top: 30px;
  }
  /* line 498, ../scss/_main-styles.scss */
  .product-top .col.product .copy-container p {
    font-size: 16px;
  }
  /* line 501, ../scss/_main-styles.scss */
  .product-top .col.product .copy-container p[data-icon]:before {
    font-size: 40px;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 519, ../scss/_main-styles.scss */
  .product-top .col.product .copy-container {
    width: calc(100% - 330px);
  }
}
/* line 7, ../scss/_save-to-basket.scss */
.save-to-basket {
  opacity: 0;
  position: absolute;
  z-index: 9999999999;
  -moz-animation: SaveToBasket 0.3s ease-in;
  -webkit-animation: SaveToBasket 0.3s ease-in;
  animation: SaveToBasket 0.3s ease-in;
}

@keyframes SaveToBasket {
  0% {
    opacity: 1;
  }
  95% {
    opacity: 0;
  }
  100% {
    left: 60px;
    top: 406px;
    width: 0;
    height: 0;
  }
}
@media only screen and (min-width: 480px) {
  @keyframes SaveToBasket {
    0% {
      opacity: 1;
    }
    95% {
      opacity: 0;
    }
    100% {
      left: 130px;
      top: 180px;
      width: 0;
      height: 0;
    }
  }
}
@media only screen and (min-width: 600px) {
  @keyframes SaveToBasket {
    0% {
      opacity: 1;
    }
    95% {
      opacity: 0;
    }
    100% {
      left: 330px;
      top: 20px;
      width: 0;
      height: 0;
    }
  }
}
@media only screen and (min-width: 768px) {
  @keyframes SaveToBasket {
    0% {
      opacity: 1;
    }
    95% {
      opacity: 0;
    }
    100% {
      left: 460px;
      top: 30px;
      width: 0;
      height: 0;
    }
  }
}
@media only screen and (min-width: 960px) {
  @keyframes SaveToBasket {
    0% {
      opacity: 1;
    }
    95% {
      opacity: 0;
    }
    100% {
      left: 620px;
      top: 40px;
      width: 0;
      height: 0;
    }
  }
}
@media only screen and (min-width: 1200px) {
  @keyframes SaveToBasket {
    0% {
      opacity: 1;
    }
    95% {
      opacity: 0;
    }
    100% {
      left: 720px;
      top: 40px;
      width: 0;
      height: 0;
    }
  }
}

/*# sourceMappingURL=relatedpopup.css.map */
