<?php $count = $this->getCount(); ?>
<?php $subtotal = $this->getSubtotal(); ?>
<div class="basket-holder">
	<div class="counter-holder"><div class="counter"><?php echo $count; ?></div></div>
	<div class="detail">
		<div class="icon">l</div>
		<div class="content">
			<div class="label"><?php echo $count; ?> item<?php echo $count > 1 ? 's' : ''; ?> in your basket</div>
			<div class="subtotal">Subtotal: <span class="value"><?php echo Mage::helper('core')->currency($subtotal, true, false); ?></span></div>
		</div>
	</div>
</div>